.page_wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.left_wrap {
    width: 15%;
    height: 100vh;
    background-color: #E0E4E8;
    padding: 5%;
    ul {
        font-size: 1.375rem;
        padding: 1%;
        li {
            padding: 2%;
            margin-left: 7%;
            color: #777;
            &.active {
                color: #333;
            }
        }
    }
}

.right_wrap {
    width: 75%;
    padding: 5%;
}