.info_warp {
    width: 100%;
    border-top: 1px solid #E0E4E8;
    
    input[type=submit] {
        margin-top: 30px;
        float: right;
    }
    ul {
        display: flex;
        li {
            padding: 1%;
            width: 70%;
            &:first-child {
                width: 20%;
            }
        }
        
    }
}

.input-radio-list,
.input-checkbox-list {
    width: 100%;
    label {
        margin-right: 10%;
    }
}

.caution-red {
    color: #F03738;
}

// datepicker custom
.react-datepicker__triangle {
    display: none !important;
}

.react-datepicker__header {
    background-color: #fff !important;
    border-bottom: 0px solid #aeaeae;
}

.react-datepicker__day:hover {
    border-radius: 1rem !important;
    background-color: #DBE1FD !important;   
}

.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range, .react-datepicker__month-text--selected, .react-datepicker__month-text--in-selecting-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--selected, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--selected, .react-datepicker__year-text--in-selecting-range, .react-datepicker__year-text--in-range {
    border-radius: 1rem !important;
    background-color: #024EEE !important;   
}

